USE [master]
GO
/****** Object:  Database [DACS]    Script Date: 30/05/2026 23:38:31 ******/
CREATE DATABASE [DACS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DACS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.HOANG\MSSQL\DATA\DACS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DACS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.HOANG\MSSQL\DATA\DACS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DACS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DACS]
GO
/****** Object:  Table [dbo].[Goods]    Script Date: 30/05/2026 23:38:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goods](
	[MaHang] [int] NOT NULL,
	[TenHang] [nvarchar](100) NOT NULL,
	[DonViTinh] [nvarchar](50) NULL,
	[GiaBan] [decimal](18, 3) NULL,
	[LaHangBan] [bit] NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[GiaNhap] [decimal](18, 3) NULL,
	[KhoiLuong] [decimal](10, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoodsDeleteAudit]    Script Date: 30/05/2026 23:38:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodsDeleteAudit](
	[AuditId] [int] IDENTITY(1,1) NOT NULL,
	[MaHang] [int] NOT NULL,
	[TenHang] [nvarchar](255) NULL,
	[DeletedInOutCount] [int] NOT NULL,
	[ManagerID] [nvarchar](50) NULL,
	[ManagerName] [nvarchar](255) NULL,
	[DeletedAt] [datetime2](0) NOT NULL,
	[Details] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InOut]    Script Date: 30/05/2026 23:38:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InOut](
	[MaPhieu] [int] IDENTITY(1,1) NOT NULL,
	[MaHang] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[LoaiPhieu] [nvarchar](10) NULL,
	[NgayPhieu] [datetime] NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manager]    Script Date: 30/05/2026 23:38:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager](
	[ManagerID] [varchar](8) NOT NULL,
	[TenQuanLi] [nvarchar](100) NOT NULL,
	[MatKhau] [nvarchar](256) NOT NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ManagerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PackagingQueue]    Script Date: 30/05/2026 23:38:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackagingQueue](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderCode] [nvarchar](20) NOT NULL,
	[DestCode] [nchar](2) NOT NULL,
	[DestName] [nvarchar](50) NOT NULL,
	[TeamId] [tinyint] NOT NULL,
	[TotalWeight] [decimal](10, 3) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[QueueOrder] [int] NOT NULL,
	[QueueDate] [date] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Goods] ([MaHang], [TenHang], [DonViTinh], [GiaBan], [LaHangBan], [SoLuongTon], [GiaNhap], [KhoiLuong]) VALUES (10001, N'Máy pha cà phê mini', N'Cái', CAST(3.240 AS Decimal(18, 3)), 1, 200, CAST(2.700 AS Decimal(18, 3)), CAST(2.500 AS Decimal(10, 3)))
INSERT [dbo].[Goods] ([MaHang], [TenHang], [DonViTinh], [GiaBan], [LaHangBan], [SoLuongTon], [GiaNhap], [KhoiLuong]) VALUES (10002, N'Lò vi sóng', N'Cái', CAST(2.640 AS Decimal(18, 3)), 1, 230, CAST(2.200 AS Decimal(18, 3)), CAST(12.000 AS Decimal(10, 3)))
INSERT [dbo].[Goods] ([MaHang], [TenHang], [DonViTinh], [GiaBan], [LaHangBan], [SoLuongTon], [GiaNhap], [KhoiLuong]) VALUES (10003, N'Máy pha cà phê lớn', N'Cái', CAST(14.280 AS Decimal(18, 3)), 1, 297, CAST(11.900 AS Decimal(18, 3)), CAST(22.000 AS Decimal(10, 3)))
GO
SET IDENTITY_INSERT [dbo].[GoodsDeleteAudit] ON 

INSERT [dbo].[GoodsDeleteAudit] ([AuditId], [MaHang], [TenHang], [DeletedInOutCount], [ManagerID], [ManagerName], [DeletedAt], [Details]) VALUES (1, 11004, N'Sữa bột nguyên kem', 0, N'QL005', N'Đặng Thị Loan', CAST(N'2026-04-05T22:16:56.0000000' AS DateTime2), N'Xóa hàng hóa tại màn hình Kiểm tra kho hàng.')
SET IDENTITY_INSERT [dbo].[GoodsDeleteAudit] OFF
GO
SET IDENTITY_INSERT [dbo].[InOut] ON 

INSERT [dbo].[InOut] ([MaPhieu], [MaHang], [SoLuong], [LoaiPhieu], [NgayPhieu], [GhiChu]) VALUES (1, 21001, 200, N'Nhập', CAST(N'2026-04-05T21:36:59.930' AS DateTime), NULL)
INSERT [dbo].[InOut] ([MaPhieu], [MaHang], [SoLuong], [LoaiPhieu], [NgayPhieu], [GhiChu]) VALUES (2, 21001, 300, N'Xuất', CAST(N'2026-04-05T21:49:14.953' AS DateTime), NULL)
INSERT [dbo].[InOut] ([MaPhieu], [MaHang], [SoLuong], [LoaiPhieu], [NgayPhieu], [GhiChu]) VALUES (8, 10001, 50, N'Xuất', CAST(N'2026-04-05T22:45:16.643' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[InOut] OFF
GO
INSERT [dbo].[Manager] ([ManagerID], [TenQuanLi], [MatKhau], [TrangThai]) VALUES (N'QL001', N'Lê Thị Cẩm', N'Camlt000', 1)
INSERT [dbo].[Manager] ([ManagerID], [TenQuanLi], [MatKhau], [TrangThai]) VALUES (N'QL002', N'Nguyễn Đại Dương', N'Duongnd001', 1)
INSERT [dbo].[Manager] ([ManagerID], [TenQuanLi], [MatKhau], [TrangThai]) VALUES (N'QL003', N'Nguyễn Công Sở', N'Sonc010', 1)
GO
/****** Object:  Index [UQ_Team_QueueOrder_PerDay]    Script Date: 30/05/2026 23:38:32 ******/
ALTER TABLE [dbo].[PackagingQueue] ADD  CONSTRAINT [UQ_Team_QueueOrder_PerDay] UNIQUE NONCLUSTERED 
(
	[TeamId] ASC,
	[QueueOrder] ASC,
	[QueueDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PackagingQueue_Daily_Sort]    Script Date: 30/05/2026 23:38:32 ******/
CREATE NONCLUSTERED INDEX [IX_PackagingQueue_Daily_Sort] ON [dbo].[PackagingQueue]
(
	[QueueDate] ASC,
	[TeamId] ASC,
	[QueueOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Goods] ADD  DEFAULT ((1)) FOR [LaHangBan]
GO
ALTER TABLE [dbo].[Goods] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[GoodsDeleteAudit] ADD  DEFAULT (sysdatetime()) FOR [DeletedAt]
GO
ALTER TABLE [dbo].[InOut] ADD  DEFAULT (getdate()) FOR [NgayPhieu]
GO
ALTER TABLE [dbo].[Manager] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[PackagingQueue] ADD  DEFAULT ((0)) FOR [TotalWeight]
GO
ALTER TABLE [dbo].[PackagingQueue] ADD  DEFAULT ('WAITING') FOR [Status]
GO
ALTER TABLE [dbo].[PackagingQueue] ADD  DEFAULT (CONVERT([date],sysdatetime())) FOR [QueueDate]
GO
ALTER TABLE [dbo].[PackagingQueue] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PackagingQueue] ADD  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[InOut]  WITH CHECK ADD FOREIGN KEY([MaHang])
REFERENCES [dbo].[Goods] ([MaHang])
GO
ALTER TABLE [dbo].[Goods]  WITH CHECK ADD CHECK  (([SoLuongTon]>=(0)))
GO
ALTER TABLE [dbo].[InOut]  WITH CHECK ADD CHECK  (([LoaiPhieu]=N'Xuất' OR [LoaiPhieu]=N'Nhập'))
GO
ALTER TABLE [dbo].[PackagingQueue]  WITH CHECK ADD  CONSTRAINT [CHK_PackagingQueue_Status_New] CHECK  (([Status]='SHIPPED' OR [Status]='AT_DEST' OR [Status]='ON_CONVEYOR' OR [Status]='PACKING' OR [Status]='WAITING'))
GO
ALTER TABLE [dbo].[PackagingQueue] CHECK CONSTRAINT [CHK_PackagingQueue_Status_New]
GO
ALTER TABLE [dbo].[PackagingQueue]  WITH CHECK ADD  CONSTRAINT [CHK_PackagingQueue_TeamId_New] CHECK  (([TeamId]=(3) OR [TeamId]=(2) OR [TeamId]=(1)))
GO
ALTER TABLE [dbo].[PackagingQueue] CHECK CONSTRAINT [CHK_PackagingQueue_TeamId_New]
GO
USE [master]
GO
